*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,
ol{
   list-style: none;
   display: inline-block;
}
a{
    text-decoration: none;
}
img{
    vertical-align: center;
}
.clr{
    clear: both;
}

/* =======================================
    common css end
===================================*/

.main_menu{
    background: red;
    height: 60px;
    width: 100%;
    
    
}
.main_menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main_menu ul li a{
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    font-family: serif;
    text-align: center;
    line-height: 60px;
    

}